.bio-box{
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    font-size: 1rem;
    padding: 2%;
    width: 25%;
}
.bio-wrapper {
    font-size: 24px;
    background-color: #c0e0c3;
    height: 300px;
    overflow: scroll;
}

.bio-wrapper::after {
    visibility: hidden;
    /* display: block; */
    font-size: 0;
    /* content: ""; */
    clear: both;
    height: 0;
}