.bio-box{
    box-sizing: border-box;
    /* border: 1px solid black; */
    float: left;
    font-size: 1rem;
    padding: 0 20px 0 20px;
    margin: 18px 18px 0 18px;
    width: 21%;
    border: 1px inset black;
    border-width: 1px 2px 3px 4px;
    border-color: black red green yellow ;
}
.bio-wrapper {
    font-size: 24px;
    background-color: #c0e0c3;
    max-width: 960px;
    margin: auto;
}

.bio-wrapper::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}
.social-list{
    list-style: none;
    padding: 0;
}
.social-list > li{
    display: inline-block;
}
.bio-box img{
    width: 100%;
    margin-bottom: -40%;
}
.bio-box h3{
    text-align: center;
    color: gray;
}
